{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block active_home %} active {% endblock active_home %}

{% block body_block %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">{% nome %}</h1>
        </div>
        {% if user.is_authenticated %}
            {% if trabalho %}
                <div class="sixteen wide column">
                    <h1 style="text-align: center;">{{ trabalho.titulo }}</h1>
                    <h3>Autores:
                        {% for autor in trabalho.autor.all %}
                            {{ autor }};
                        {% endfor %}
                    </h3>
                    <h3>Orientador:
                        {{ trabalho.orientador }};
                    </h3>
                    <h3>Colaboradores:
                        {% for colaborador in trabalho.colaborador.all %}
                            {{ colaborador }};
                        {% endfor %}
                    </h3>
                    <h4 style="text-align: justify">
                        {{ trabalho.resumo }}
                    </h4>
                </div>
            {% else %}
                <div class="ui inverted message sixteen wide column">
                    <h1 class="header">Submeta seu trabalho aqui</h1>
                    <span>
        Quando você cadastrar ele ira aparecer aqui automaticamente na aqui.
        </span>
                </div>
            {% endif %}
        {% else %}
            <div class="ui inverted message sixteen wide column">
                <h1 class="header">Faça seu Login!</h1>
                <span>
        Vocẽ precisa estar logado para visualizar a lista de trabalhos.
        </span>
            </div>
        {% endif %}
    </div>
{% endblock body_block %}