{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block active_home %} active {% endblock active_home %}

{% block body_block %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">{% nome %}</h1>
        </div>
        {% if user.is_authenticated %}
            {% if trabalho %}
                <div class="sixteen wide column">
                    <div class="ui segment">
                        <h1><i class="ui icon file text outline"></i> {{ trabalho.titulo }}</h1>
                        <hr style="border-color: #c6c6c6"/>

                        <h3><i class="ui icon group"></i> Autores</h3>
                        {% for autor in trabalho.autor.all %}
                            {{ autor }};
                        {% endfor %}

                        <h3><i class="ui icon talk"></i> Orientador</h3>
                        {{ trabalho.orientador }};

                        <h3><i class="ui icon group talk outline"></i> Colaboradores</h3>
                        {% for colaborador in trabalho.colaborador.all %}
                            {{ colaborador }};
                        {% endfor %}

                        <h3><i class="ui icon paragraph"></i> Resumo</h3>
                        <div class="ui sixteen wide column" style="text-align: justify;">
                            {{ trabalho.resumo }}
                        </div>
                        <br/>
                        {% if trabalho.status.pk == 1 %}
                            <a href="{% url 'aceita-trabalho' trabalho.pk 1 %}">
                                <button>Aceitar</button>
                            </a>
                            <a href="{% url 'nega-trabalho' trabalho.pk 0 %}">
                                <button>Negar</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="ui inverted message sixteen wide column">
                    <h1 class="header">Submeta seu trabalho aqui</h1>
                    <span>
                        Quando você cadastrar ele ira aparecer aqui automaticamente na aqui.
                    </span>
                </div>
            {% endif %}
        {% else %}
            <div class="ui inverted message sixteen wide column">
                <h1 class="header">Faça seu Login!</h1>
                <span>
                    Você precisa estar logado para visualizar a lista de trabalhos.
                </span>
            </div>
        {% endif %}
    </div>
{% endblock body_block %}