{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title_block %} - Trabalho{% endblock title_block %}
{% block active_cad_t %} active {% endblock active_cad_t %}

{% block body_block %}

<h1>Cadastrar Trabalho</h1>
{% if form.instance.id %}
<form method="POST" action="{% url 'edit-trabalho' form.instance.id %}" class='ui form'>
    {% else %}
    <form method="POST" action="{% url 'cad-trabalho' %}" class='ui form'>
{% endif %}
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        <div class="field">
            <label>{{ form.titulo.label }}:</label>
            {{ form.titulo }}
            {% if form.titulo.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.titulo.help_text }}</span>
            {% endif %}
            </br>
            {% if form.titulo.errors %}
                <span class="ui pointing red label">
            {{ form.titulo.errors }}
            </span>
            {% endif %}
        </div>

        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma" id="id_turma" onchange="turma_pesquisar()" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field" id="id_autor_field">
                <label>Autor:</label>
                <select name="autor_select" id="id_autor_select" disabled="true" onchange="adicionar_autor()" class="search selection">
                    <option value="select">Selecione uma turma primeiro</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label>Autores:</label>
            <select name="autor" multiple="multiple" required="" id="id_autor">
            </select>
            {% if form.autor.errors %}
                <span class="ui pointing red label">
                    {{ form.autor.errors }}
                </span>
            {% endif %}
        </div>

{#        <div class="field">#}
{#            <label>{{ form.autor.label }}:</label>#}
{#            {{ form.autor }}#}
{#            {% if form.titulo.help_text %}#}
{#            <span class="ui pointing label">Ajuda: {{ form.autor.help_text }}</span>#}
{#            {% endif %}#}
{#            </br>#}
{#            {% if field.errors %}#}
{#                <span class="ui pointing red label">#}
{#            {{ field.errors }}#}
{#            </span>#}
{#            {% endif %}#}
{#        </div>#}

        <div class="field">
            <label>{{ form.orientador.label }}:</label>
            {{ form.orientador }}
            {% if form.orientador.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.orientador.help_text }}</span>
            {% endif %}
            </br>
            {% if form.orientador.errors %}
                <span class="ui pointing red label">
            {{ form.orientador.errors }}
            </span>
            {% endif %}
        </div>


        <div class="field">
            <label>{{ form.colaborador.label }}:</label>
            {{ form.colaborador }}
            {% if form.colaborador.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.colaborador.help_text }}</span>
            {% endif %}
            </br>
            {% if form.colaborador.errors %}
                <span class="ui pointing red label">
                    {{ form.colaborador.errors }}
                </span>
            {% endif %}
        </div>

        <div class="field">
            <label>{{ form.disciplina.label }}:</label>
            {{ form.disciplina }}
            {% if form.disciplina.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.disciplina.help_text }}</span>
            {% endif %}
            </br>
            {% if form.disciplina.errors %}
                <span class="ui pointing red label">
            {{ form.disciplina.errors }}
            </span>
            {% endif %}
        </div>

        <div class="field">
            <label>{{ form.resumo.label }}:</label>
            {{ form.resumo }}
            {% if form.resumo.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.resumo.help_text }}</span>
            {% endif %}
            </br>
            {% if form.resumo.errors %}
                <span class="ui pointing red label">
            {{ form.resumo.errors }}
            </span>
            {% endif %}
        </div>

        {{ form.status }}

        <input type="hidden" name="usuario" id="id_usuario" value="{{ user.id }}"/>

        <div class="ui two buttons">
            <a class="ui button" href="{{ request.META.HTTP_REFERER }}"> Voltar </a>
            <button class="ui secondary button" type="submit" name="submit">Cadastrar trabalho</button>
        </div>


        {% if form.instance.id %}
    </form>
    {% else %}
</form>
{% endif %}
{% endblock body_block %}