{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title_block %} - Trabalho{% endblock title_block %}
{% block active_cad_t %} active {% endblock active_cad_t %}

{% block body_block %}

<h1>Cadastrar Trabalho</h1>
{% if form.instance.id %}
<form method="POST" action="{% url 'edit-trabalho' form.instance.id %}" class='ui form'>
    {% else %}
    <form method="POST" action="{% url 'cad-trabalho' %}" class='ui form'>
{% endif %}
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        <div class="field">
            <label>{{ form.titulo.label }}:</label>
            {{ form.titulo }}
            {% if form.titulo.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.titulo.help_text }}</span>
            {% endif %}
            </br>
            {% if form.titulo.errors %}
                <span class="ui pointing red label">
            {{ form.titulo.errors }}
            </span>
            {% endif %}
        </div>

        {# BEGIM 7 AUTORES #}
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma1" id="id_turma1" onchange="turma_pesquisar(1)" class="search selection" disabled>
{#                    {% for turma in turmas %}#}
{#                        <option value="{{ turma.id }}">{{ turma.nome }}</option>#}
{#                    {% endfor %}#}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor1.label }}:</label>
                <select name="autor1" id="id_autor1">
                    <option value="{{ user.id }}" selected>{{ user.first_name }} {{ user.last_name }}</option>
                </select>
                {% if form.autor1.help_text %}
                    <select name="autor1" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor1.errors %}
                    <span class="ui pointing red label">
                {{ form.autor1.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma2" id="id_turma2" onchange="turma_pesquisar(2)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor2.label }}:</label>
                {{ form.autor2 }}
                {% if form.autor2.help_text %}
                    <select name="autor2" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor2.errors %}
                    <span class="ui pointing red label">
                {{ form.autor2.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma3" id="id_turma3" onchange="turma_pesquisar(3)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor3.label }}:</label>
                {{ form.autor3 }}
                {% if form.autor3.help_text %}
                    <select name="autor3" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor3.errors %}
                    <span class="ui pointing red label">
                {{ form.autor3.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma4" id="id_turma4" onchange="turma_pesquisar(4)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor4.label }}:</label>
                {{ form.autor4 }}
                {% if form.autor4.help_text %}
                    <select name="autor4" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor4.errors %}
                    <span class="ui pointing red label">
                {{ form.autor4.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma5" id="id_turma5" onchange="turma_pesquisar(5)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor5.label }}:</label>
                {{ form.autor5 }}
                {% if form.autor5.help_text %}
                    <select name="autor5" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor5.errors %}
                    <span class="ui pointing red label">
                {{ form.autor5.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma6" id="id_turma6" onchange="turma_pesquisar(6)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor6.label }}:</label>
                {{ form.autor6 }}
                {% if form.autor6.help_text %}
                    <select name="autor6" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor6.errors %}
                    <span class="ui pointing red label">
                {{ form.autor6.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Turma:</label>
                <select name="turma7" id="id_turma7" onchange="turma_pesquisar(7)" class="search selection">
                    <option value="select">Selecione uma turma</option>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>{{ form.autor7.label }}:</label>
                {{ form.autor6 }}
                {% if form.autor7.help_text %}
                    <select name="autor7" class="ui fluid search dropdown">
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                {% endif %}
                </br>
                {% if form.autor7.errors %}
                    <span class="ui pointing red label">
                {{ form.autor7.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        {# FIM 7 AUTORES #}

        <div class="field">
            <label>{{ form.orientador.label }}:</label>
            {{ form.orientador }}
            {% if form.orientador.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.orientador.help_text }}</span>
            {% endif %}
            </br>
            {% if form.orientador.errors %}
                <span class="ui pointing red label">
            {{ form.orientador.errors }}
            </span>
            {% endif %}
        </div>


        <div class="field">
            <label>{{ form.colaborador.label }}:</label>
            {{ form.colaborador }}
            {% if form.colaborador.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.colaborador.help_text }}</span>
            {% endif %}
            </br>
            {% if form.colaborador.errors %}
                <span class="ui pointing red label">
                    {{ form.colaborador.errors }}
                </span>
            {% endif %}
        </div>

        <div class="field">
            <label>{{ form.disciplina.label }}:</label>
            {{ form.disciplina }}
            {% if form.disciplina.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.disciplina.help_text }}</span>
            {% endif %}
            </br>
            {% if form.disciplina.errors %}
                <span class="ui pointing red label">
            {{ form.disciplina.errors }}
            </span>
            {% endif %}
        </div>

        <div class="field">
            <label>{{ form.resumo.label }}:</label>
            {{ form.resumo }}
            {% if form.resumo.help_text %}
            <span class="ui pointing label">Ajuda: {{ form.resumo.help_text }}</span>
            {% endif %}
            </br>
            {% if form.resumo.errors %}
                <span class="ui pointing red label">
            {{ form.resumo.errors }}
            </span>
            {% endif %}
        </div>

        {{ form.status }}

        <input type="hidden" name="usuario" id="id_usuario" value="{{ user.id }}"/>

        <div class="ui two buttons">
            <a class="ui button" href="{{ request.META.HTTP_REFERER }}"> Voltar </a>
            <button class="ui green button" type="submit" name="submit">Cadastrar trabalho</button>
        </div>


        {% if form.instance.id %}
    </form>
    {% else %}
</form>
{% endif %}
{% endblock body_block %}