{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block active_home %} active {% endblock active_home %}

{% block body_block %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">{% nome %}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="sixteen wide column">
                <div class="ui four item inverted menu">
                    <a class="item" href="{% url 'home-list' %}">
                        Todos os Trabalhos
                    </a>
                    <a class="item" href="{% url 'home-submetido-list' %}">
                        Trabalhos Submetidos
                    </a>
                    <a class="item" href="{% url 'home-aguardando-list' %}">
                        Trabalhos Aguardando Aprovação
                    </a>
                    <a class="item" href="{% url 'home-negado-professor-list' %}">
                        Trabalhos Negados pelo Professor
                    </a>
                </div>
                {% if trabalhos %}
                    <table class="ui celled inverted table">
                        <thead>
                        <tr>
                            <th><i class="ui icon file text outline"></i> Título</th>
                            <th><i class="ui icon talk"></i> Orientador</th>
                            <th><i class="ui icon talk checkmark"></i> Status</th>
                            <th><i class="ui icon setting"></i> Ações</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for trabalho in trabalhos %}
                            <tr>
                                <td>{{ trabalho.titulo }}</td>
                                <td> {{ trabalho.orientador.first_name }} {{ trabalho.orientador.last_name }};</td>
                                <td>{{ trabalho.status.descricao }}</td>
                                <td><a href="{% url 'trabalho' trabalho.id %}"><i class="ui icon unhide"></i> Visualizar</a><br>
                                    <a href="{% url 'impri-trabalho' trabalho.id %}"><i class="ui icon download"></i>
                                        Download</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    <table class="ui celled inverted table">
                        <thead>
                        <tr>
                            <th><i class="ui icon file text outline"></i> Título</th>
                            <th><i class="ui icon talk"></i> Orientador</th>
                            <th><i class="ui icon talk checkmark"></i> Status</th>
                            <th><i class="ui icon setting"></i> Ações</th>
                        </tr>
                        </thead>
                        <tfoot class="full-width">
                        <tr>
                            <th class="ui inverted header" colspan="4">
                                <i class="warning icon"></i>
                                <h3 class="content">Não existem trabalhos com este status!
                                    <p class="sub header">Clique em outro status para consultar.</p>
                                </h3>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                {% endif %}
        {% endif %}
    </div>
{% endblock body_block %}