{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title_block %} - Login{% endblock title_block %}
{% block active_login %}active{% endblock active_login %}

{% block body_block %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1 class="ui header">Faça seu login</h1>
            <form class="ui form" method="post" action=".">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="field">
                        <label>{{ field.label }}:</label>
                        {{ field }}
                        {% if field.help_text %}
                            <span class="ui pointing label">Ajuda: {{ field.help_text }}</span>
                        {% endif %}
                        </br>
                        {% if field.errors %}
                            <span class="ui pointing red label">
                		{{ field.errors }}
                	</span>
                        {% endif %}
                    </div>
                {% endfor %}

                <button class="ui secondary fluid button" type="submit" name="submit">Entrar</button>
            </form>

        </div>
    </div>

{% endblock %}