<!DOCTYPE html>
{% load staticfiles system%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% nome %}{% block title_block %} {% endblock title_block %}</title>
    <head><link href= "{% imagem_titulo %}" rel='icon' type='image/x-icon'/>

        <link rel="stylesheet" type="text/css" href='{% static "semantic/semantic.min.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
        <script src='{% static "js/jquery-3.1.0.js" %}'></script>
        <script src='{% static "semantic/semantic.min.js" %}'></script>
        <script src='{% static "js/call.js" %}'></script>
    </head>
</head>
<body>
<header>
    <ul class="ui stackable borderless menu">

        {% if user.is_authenticated %}
        <li><a class="item" href="{% url 'cad-trabalho' %}"><i
                class="ui  icon"></i>Cadastrar um Projeto</a></li>
        <li><a class="item" href="{% url 'consu-trabalho' %}"><i
                class="ui  icon"></i>Meus projetos</a></li>
        <li><a class="item {% block active_logout %}{% endblock active_logout %}" href="{% url 'logout' %}"><i
                class="ui sign in icon"></i>Logout</a></li>
        <li class="item disabled">{{ user|title }}</li>
        {% else %}
        <li><a class="item {% block active_login %}{% endblock active_login %}" href="{% url 'login' %}"><i
                class="ui sign in icon"></i>Login</a></li>
        <li class="item disabled">Você não está autenticado.</li>
        {% endif %}
    </ul>
</header>
<article class="ui container">
    {% block body_block %} {% endblock body_block %}
</article>
<footer class="ui black inverted vertical footer relaxed segment">
    <div class="ui five column middle aligned centered inverted divided stackable grid">
        <div class="two wide column">
            <h2 class="ui inverted icon header">
                <!--<i class="rebel icon"></i>-->
                <!--<img src="{% logo %}" class="ui tiny image "/>-->
                <a href="{% site %}"><img src="{% logo %}" class="ui medium image "/></a>
                <div class="content">
                    <!--Fábrica de Software-->
                    <div class="sub header">© Copyright 2017</div>
                </div>
            </h2>
        </div>
        <div class="three wide column">
            <ul class="ui divided celled relaxed inverted list">
                <li class="item"><a href="{% git %}" target="_blank"><i
                        class="ui github large icon"></i>Gitlab</a></li>
                <li class="item"><a href="{% instagram %}" target="_blank"><i
                        class="ui instagram large icon"></i>Instagram</a></li>
                <li class="item"><a href="{% facebook %}" target="_blank"><i
                        class="ui facebook large icon"></i>Facebook</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>