{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block active_home %} active {% endblock active_home %}

{% block body_block %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">{% nome %}</h1>
        </div>
        {% if user.is_authenticated %}
            {% if trabalhos %}
                <div class="sixteen wide column">
                    <table class="ui celled inverted table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Autor</th>
                            <th>Orientador</th>
                            <th>Colaborador</th>
                            <th>Disciplina</th>
                            {% if orientador %}
                                <th>Aceitar</th>
                            {% endif %}
                            <th>Mais</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for trabalho in trabalhos %}
                            <tr>
                                <td>{{ trabalho.titulo }}</td>
                                {# {{ trabalho.autor.all }}#}
                                <td>
                                    <table>{% for autor in trabalho.autor.all %}
                                        <tr><td>{{ autor }}</td></tr>
                                        <!--{# {{ autor }}#}-->
                                    {% endfor %}
                                    </table>
                                <td> {{ trabalho.orientador }}</td>
                                <td>
                                    <table>
                                    {% for colaborador in trabalho.colaborador.all %}
                                        <tr><td>{{ colaborador }}</td></tr>
                                    {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        {% for disciplina in trabalho.disciplina.all %}
                                            <tr> <td>{{ disciplina }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>{{ trabalho.status.nome }}</td>
                                <td><a href="{% url 'trabalho' trabalho.id  %}">Mais</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="ui inverted message sixteen wide column">
                    <h1 class="header">Submeta seu trabalho aqui</h1>
                    <span>
        Quando você cadastrar ele ira aparecer aqui automaticamente na aqui.
        </span>
                </div>
            {% endif %}
        {% else %}
            <div class="ui inverted message sixteen wide column">
                <i class="close icon"></i>
                <h1 class="header">Faça seu Login!</h1>
                <span>
        Vocẽ precisa estar logado para visualizar a lista de trabalhos.
        </span>
            </div>
        {% endif %}
    </div>
{% endblock body_block %}