{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block active_home %} active {% endblock active_home %}

{% block body_block %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">
                {% if user|title != "Anonymoususer" %}
                    <i class="ui icon user"></i> {{ user|title }}
                {% endif %}
            </h1>
        </div>
        {% if user.is_authenticated %}
            {% if trabalhos %}
                <div class="sixteen wide column">
                    <table class="ui celled inverted table">
                        <thead>
                        <tr>
                            <th><i class="ui icon file text outline"></i> Título</th>
                            <th><i class="ui icon talk"></i> Orientador</th>
                            <th><i class="ui icon talk checkmark"></i> Status</th>
                            <th><i class="ui icon setting"></i> Ações</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for trabalho in trabalhos %}
                            <tr>
                                <td>{{ trabalho.titulo }}</td>
                                {# {{ trabalho.autor.all }}#}
                                <td> {{ trabalho.orientador }}</td>
                                <td>{{ trabalho.status.nome }}</td>
                                <td><a href="{% url 'trabalho' trabalho.id %}"><i class="ui icon plus"></i> Mais</a><br>
                                    <a href="{% url 'impri-trabalho' trabalho.id %}"><i class="ui icon download"></i>
                                        Download</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="ui inverted message sixteen wide column">
                    <h1 class="header">Bem vindo {{ user|title }}!</h1>
                    {% if possui_trabalhos %}
                        Para visualizar seus trabalhos -
                        <a class="item" href="{% url 'consu-trabalho' %}">Clique aqui</a>.
                    {% else %}
                        Você não possui projetos cadastrados.
                        <a class="item" href="{% url 'cad-trabalho' %}">Adicionar novo projeto</a>.
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="ui inverted message sixteen wide column">
                <i class="close icon"></i>
                <h1 class="header">Faça seu Login!</h1>
                <span>
                    Vocẽ precisa estar logado para visualizar os seus trabalhos.
                </span>
            </div>
            <a class="ui button green" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
{% endblock body_block %}